.cards {
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
	padding: 30px;
}

.cards:hover .title {
	color: #c84b1e;
}
.cards:hover .link {
	color: #c84b1e;
}
.block2 {
	background: white;
	border-radius: 15px;
	padding: 30px;
	padding-left: 50px;
	padding-right: 30px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 40px;
	position: relative;
	right: 50px;
	z-index: -1;
}
.title {
	max-width: 550px;
	text-align: start;
	font-weight: bold;
}

.link {
	color: black;
	text-decoration: none;
	position: relative;
	left: 450px;
}
.content {
	font-weight: 200;
	font-size: 0.9rem;
	max-width: 650px;
	text-align: start;
}
.block1 {
	max-height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.img {
	width: 450px;
}
/* media */
@media (max-width: 1094px) {
	.link {
		left: 50px;
	}
}
@media (max-width: 870px) {
	.block1 {
		justify-content: start;
		max-width: 850px;
	}
	.block2 {
		padding: 30px;
		padding-left: 50px;
	}
	.img {
		width: 350px;
	}
}
@media (max-width: 750px) {
	.cards {
		flex-wrap: wrap;
	}
	.block1 {
		justify-content: start;
		max-width: 850px;
	}
	.block2 {
		padding: 30px;
		position: static;
	}
	.img {
		width: 350px;
	}
}
